@tailwind utilities;

@plugin "tailwindcss-animate";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-tall: 500px;
  --breakpoint-grande: 850px;
  --breakpoint-venti: 1024px;

  --color-white: #e5e7eb;
  --color-pink-l: #ec4899
  --color-cyan-l: #04c2c9;
  --color-book: #d5a47d;
  --color-best: #81B64C;
  --color-excellent: #81B64C;
  --color-good: #95B776;
  --color-inaccuracy: #F7C631;
  --color-mistake: #FFA459;
  --color-blunder: #FA412D;

  --spacing-100: 100px;
  --spacing-200: 200px;
  --spacing-400: 400px;
  --spacing-800: 800px;

  --border-width-3: 3px;

  --shadow-innerL-tl-cyanL-br-pink-500: inset -3px -2px 2px #ec4899, inset 3px 2px 2px #04c2c9;
  --shadow-innerL-tl-pink-500-br-cyanL: inset -3px -2px 2px #04c2c9, inset 3px 2px 2px #ec4899;
  --shadow-innerL-lr-cyanL: inset 0px 2px #04c2c9, inset 0px -2px #04c2c9;

  --transition-duration-2: 2s;
  --transition-timing-function-out-l: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --rotate-30: 30deg;
  --rotate-60: 60deg;
  --rotate-120: 120deg;

  --z-index-1: 1;
}

@variant child (&> *);

@keyframes spin {
  from {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  to {
    transform: rotate(540deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  to {
    transform: rotate(-540deg);
  }
}

@keyframes glow {
  from { background-color: #ec4899; }
  to { background-color: #04c2c9; }
}
@keyframes reverseGlow {
  from { background-color: #04c2c9; }
  to { background-color: #ec4899; }
}

@layer utilities {
  .spinAnimation {
    animation: spin 1s linear normal;
  }
  .spinAnimationReverse {
    animation: spinReverse 1s linear normal;
  }

  .hexagon, .hexagon:before, .hexagon:after {
    @apply from-cyan-100 via-teal-100 to-cyan-100 shadow-innerL-lr-cyanL before:rotate-60 before:absolute after:rotate-120 after:absolute;
    width: calc(100px / 0.86602540378);
    height: 200px;
    background-image: radial-gradient(#cffafe, #ccfbf1, #cffafe);
  }

  .text-shadowL {
    text-shadow: 1px 1px var(--tw-shadow-color);
  }
}

@font-face {
    font-family: 'Chess Sans'; /* Choose a unique name for your font */
    src: url('/fonts/chess-sans-700.woff2') format('woff2'); /* Specify the path to your WOFF2 file */
    font-weight: 700; /* Optional: Define the font's weight */
    font-style: normal;  /* Optional: Define the font's style (e.g., italic) */
    font-display: swap; /* Optional: Controls how the font loads and renders */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
