@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  to {
    transform: rotate(540deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  to {
    transform: rotate(-540deg);
  }
}

@layer utilities {
  .spinAnimation {
    animation: spin 1s linear normal;
  }
  .spinAnimationReverse {
    animation: spinReverse 1s linear normal;
  }

  ._hex {
    /**
    * given the base of a flat top hexagon which is the widest width rectangle with full height
    * this gives you it's width. 0.86602540378 is cos(30deg)
    */
    width: calc(100px / 0.86602540378);
    @apply h-200 bg-gradient-radial from-cyan-100 via-teal-100 to-cyan-100 shadow-innerL-lr-cyanL;
  }

  .hexagon {
    @apply _hex before:rotate-60 before:_hex before:absolute after:rotate-120 after:_hex after:absolute;
  }

  .text-shadowL {
    text-shadow: 1px 1px var(--tw-shadow-color);
  }
}