@tailwind utilities;
@import "tailwindcss";

@theme {
  --breakpoint-tall: 500px;
  --breakpoint-grande: 850px;
  --breakpoint-venti: 1024px;

  --color-white: #e5e7eb;
  --color-pink-l: #ec4899
  --color-cyan-l: #04c2c9;
  --color-book: #d5a47d;
  --color-best: #81B64C;
  --color-excellent: #81B64C;
  --color-good: #95B776;
  --color-inaccuracy: #F7C631;
  --color-mistake: #FFA459;
  --color-blunder: #FA412D;

  --spacing-100: 100px;
  --spacing-200: 200px;
  --spacing-400: 400px;
  --spacing-800: 800px;

  --border-width-3: 3px;

  --shadow-innerL-tl-cyanL-br-pink-500: inset -3px -2px 2px #ec4899, inset 3px 2px 2px #04c2c9;
  --shadow-innerL-tl-pink-500-br-cyanL: inset -3px -2px 2px #04c2c9, inset 3px 2px 2px #ec4899;
  --shadow-innerL-lr-cyanL: inset 0px 2px #04c2c9, inset 0px -2px #04c2c9;

  --transition-duration-2: 2s;
  --transition-timing-function-out-l: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --rotate-30: 30deg;
  --rotate-60: 60deg;
  --rotate-120: 120deg;

  --z-index-1: 1;
}

@variant child (&> *);

@keyframes spin {
  from {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  to {
    transform: rotate(540deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  to {
    transform: rotate(-540deg);
  }
}

@keyframes glow {
  from { background-color: #ec4899; }
  to { background-color: #04c2c9; }
}
@keyframes reverseGlow {
  from { background-color: #04c2c9; }
  to { background-color: #ec4899; }
}

@layer utilities {
  .spinAnimation {
    animation: spin 1s linear normal;
  }
  .spinAnimationReverse {
    animation: spinReverse 1s linear normal;
  }

  .hexagon, .hexagon:before, .hexagon:after {
    @apply from-cyan-100 via-teal-100 to-cyan-100 shadow-innerL-lr-cyanL before:rotate-60 before:absolute after:rotate-120 after:absolute;
    width: calc(100px / 0.86602540378);
    height: 200px;
    background-image: radial-gradient(#cffafe, #ccfbf1, #cffafe);
  }

  .text-shadowL {
    text-shadow: 1px 1px var(--tw-shadow-color);
  }
}

@font-face {
    font-family: 'Chess Sans'; /* Choose a unique name for your font */
    src: url('/fonts/chess-sans-700.woff2') format('woff2'); /* Specify the path to your WOFF2 file */
    font-weight: 700; /* Optional: Define the font's weight */
    font-style: normal;  /* Optional: Define the font's style (e.g., italic) */
    font-display: swap; /* Optional: Controls how the font loads and renders */
}
